.intro{	
	margin-top: 95px;
}
.intro__title{
	width: 956px;
}
.interior{	
	position: relative;	
	margin-top: 30px;
	max-width: 100%;
	height: 500px;
	background-image: url('../recources/main.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.interior__text{	
	position: absolute;
	width: 430px;
	bottom: 40px;
	left: 40px;	
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
}
@media (max-width: 1199px) {
	.intro{
		margin-top: 73px;
		margin-left: 2px;
	}
	.intro__title{
		width: 778px;
	}
	.interior{
		background-image: url('../recources/main-tablet.jpg');
		height: 400px;
	}
	.interior__text{
		font-size: 20px;
		line-height: 27px;
		bottom: 30px;
	}
}
@media (max-width: 767px){
	.intro{
		margin-top: 61px;
	}
	.intro__title{
		width: 330px;
	}
	.interior{
		margin-top: 24px;
		height: 304px;
	}
	.interior__text{
		width: 312px;
		font-size: 16px;
		line-height: 22px;
		left: 15px;
		bottom: 15px;
	}
}
@media (max-width: 400px){
	.interior{
		background-image: url('../recources/main-mobile.jpg');
	}
}